*.pyc
*.log
*.meta
*.index
*.data-00000-of-00001
*.GPU-STUD-OHAD
*trained_models/
*.pyc
*.pyc
*.log
*.log
*.log
*.log
*.meta
*.data-00000-of-00001
*.log
*.csv
*.pyc
*.GPU-STUD-06
*.GPU-STUD-11
*.xml
*.txt
*.csv
*.pyc
